@{
    ViewData["Title"] = "Index";
}


<main>
<a href= "@Url.Action("NuevaTarea", "Home")"><button>Nueva tarea</button></a>
<a href= "@Url.Action("LogIn", "Account")"><button>Log in</button></a>

</main>

<section class="banner">
<div>
@ViewBag
</div>
</section>
</main>



