@{
    ViewData["Title"] = "Index";
}
<header>

<img src="wwwroot/imagenes/logo.png" alt="logo">
<button class="iniciarSesion">Iniciar Sesión</button>
<button class="registrarse">Registrarse</button>
<button class="cerrarSesion">Cerrar Sesión</button>
<img src="@ViewBag.Usuario.Foto" alt="userFoto">

</header>

<main>

<section class="banner">
<div>
@ViewBag
</div>
</section>
</main>

<footer>

</footer>


